body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

p {
    margin: 0;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    height: 100%;
    width: 100%;
}

.photographer_section div h2 {
    color: #D3573C;
    font-size: 50px;
    margin: 15px 0 10px 0;
}

.photographer_section div img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 200px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.infos-photographe {
    position: fixed;
    bottom: 0;
    right: 25px;
    width: 300px;
    height: 50px;
    background-color: #D3573C;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
}

.bottom-picture {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.text-info, .text-price {
    margin: auto;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 40px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

/* .photographer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid red;
    width:50%;
}

.photographer > img {
    position: absolute;
    right: 10%;
    border: 2px solid blue; 
} */

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.location {
    color: red;
    font-size: 20px;
    margin: 0;
}

.tag {
    color: black;
}

.priceTag {
    display: none;
}

#photo_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.contact_button {
    margin: auto 0;
}

.infos {
    justify-self: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    height: 100%;
}

#picture-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picture-box {
    margin-bottom: 20px;
    width: 30%;
}

.picture {
    height: 30vw;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    cursor: pointer;
}

.textarea {
    width: 100%;
    height: 150px;
}

#photo {
    margin: auto 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

#location {
    color: red;
    font-size: 20px;
    margin: 0;
  }

  #contact_modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(55, 56, 59, 0.4);
}

.navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
  }
  .navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
  }
  .navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation .nav-btn:hover {
    background: white;
  }
  
  

.modal-background {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

.modal-box {
    width: 80%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#close-modal {
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: red;
}

#selectedImage {
    height: 100%;
}

.photos {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tri {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 50px 100px;
    width: 10%;
}

.select {
    background-color: #901C1C;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.select * {
    padding: 150px;
}
